tk==0.1.0
ttkbootstrap==1.10.1 
tensorflow==2.18.0
numpy==2.2.3
pandas==2.2.3
scikit-learn==1.6.1
seaborn==0.13.2
matplotlib==3.10.0
keras-tuner==1.4.7
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
