tk==0.1.0
ttkbootstrap==1.12.2 
tensorflow==2.20.0
numpy==2.2.5
pandas==2.2.3
scikit-learn==1.7.2
seaborn==0.13.2
matplotlib==3.10.7
keras-tuner==1.4.7
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
keras>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
